#body {
  margin: 0px;
  background-color: aqua;
}

#all {
  display: grid;
  grid-template-rows: 100%;
  grid-template-columns: 100%;
  gap: 10px;
}

#main {
  display: flex;
  background-color: aqua;
  flex-wrap: wrap;
  gap: 10px;
}

.divy {
  border: solid black 5px;
  border-radius: 5px;
  background-color: bisque;
  height: 200px;
  width: 800px;
  display: flex;
  flex-direction: column;
}
